*{
    background-color: #15202B;
}

.triajation input{
    display:flex;
    width:20em;
    height: 3em;
    margin: 2em;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.548);
    border-radius: 5px;
}
.triajation input::placeholder{
    color:rgb(218, 216, 216);
}

.triajation p{
    color:white;
   }